body{
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   
}

.cong{
    text-align: center;
    font-family: sans-serif;
    margin-top: 320px;
}